#imagen-dado {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 60px;
}

body{
    background-image: url(./fondo4.jpg);
    background-size: cover;
    background-position: inherit;
    
    
    font-family: "Comic Sans MS";
}

.todo{
    text-align: center;
}

.todo{
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 100);
}

.boton{
    font-family: "Comic Sans MS";
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    
}

.boton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red, blue, deeppink, blue, red, blue, deeppink, blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}

.dados img{
    width: 150px;
    height: 150px;
    border: 60px;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    border-color: black;
}
